#gameScreen{
	-fx-translate-y: 20px;
}

Label{
	-fx-font-family: "Century Gothic";
	-fx-font-size: 18px;
}

Button{
	-fx-font-family: "Century Gothic";
	-fx-min-width: 269px;
	-fx-font-size: 24px;
	-fx-background-radius: 10px;
}

TextArea{
	-fx-border-color: black;
	-fx-font-family: "Century Gothic";
	-fx-min-height: 496px;
	-fx-max-width: 315px;
	-fx-font-size: 15px;
}

TextField{
	-fx-border-color: black;
	-fx-font-family: "Century Gothic";
	-fx-min-height: 71px;
	-fx-font-size: 15px;
}

GridPane{
	-fx-border-color: black;
}

#dashboard{
	-fx-border-color: black;
}

#scoresBox{
	-fx-border-color: black;
	-fx-padding: 5px;
	-fx-font-size: 15px;
}

#yourCardLabel{
	-fx-rotate: -90;
	-fx-translate-x: -40px;
}

#turn{
	-fx-font-size: 30px;
	-fx-translate-x: -30px;
}

#guess{
	-fx-background-color: "#4AF3CB";
	-fx-min-height: 81px;
	-fx-translate-y: 7px;
}

#guess:hover{
	-fx-background-color: "#0ff0bb";
}

#endTurn{
	-fx-background-color: "#F34A72";
	-fx-min-height: 46px;
	-fx-translate-y: -7px;
}

#endTurn:hover{
	-fx-background-color: "#f00f44";
}

#helpButton{
	-fx-background-color: "#c4c4c4";
	-fx-min-width: 46px;
	-fx-background-radius: 33px;
	-fx-font-weight: bold;
	-fx-translate-y: 45px;
}

#helpButton:hover{
	-fx-background-color: "#a6a6a6";
}

#yourCard{
	-fx-border-color: black;
}

#quit{
	-fx-background-color: "#F34A72";
	-fx-min-width: 35px;
	-fx-min-height: 17px;
	-fx-font-size: 13px;
	-fx-background-radius: 0px;
	-fx-translate-x: 200px;
}

#quit:hover{
	-fx-background-color: "#f00f44";
}