TextField{
	-fx-max-width: 400px;
	-fx-padding: 20px;
	-fx-border-color: black;
	-fx-font-size: 26px;
	-fx-font-family: "Century Gothic";
	-fx-translate-y: -10px;
}

Button{
	-fx-max-width: 159px;
	-fx-max-height: 35px;
	-fx-font-family: "Century Gothic";
	-fx-font-size: 23px;
	-fx-background-radius: 10px;
	-fx-translate-y: 20px;
}

ChoiceBox{
	-fx-max-width: 400px;
	-fx-max-height: 43px;
	-fx-font-family: "Century Gothic";
	-fx-font-size: 23px;
	-fx-background-color: "#FFFFFF";
	-fx-border-color: "#000000";
	-fx-translate-y: -20px;
}

#title{
	-fx-font-family: "Century Gothic";
	-fx-font-size: 36px;
	-fx-translate-y: -20px;
}

#subtitle{
	-fx-font-family: "Century Gothic";
	-fx-font-size: 18px;
	-fx-translate-y: -20px;
}

#warning{
	-fx-font-size: 20px;
	-fx-font-family: "Century Gothic";
	-fx-text-background-color: "#F34A72";
	-fx-translate-y: 10px;
	-fx-translate-y: -20px;
}

#continue{
	-fx-background-color: "#86BEFF";
}

#continue:hover{
	-fx-background-color: "#66adff";
}

#back{
	-fx-background-color: "#F34A72";
}

#back:hover{
	-fx-background-color: "#f00f44";
}
